#useDynLib(sideChannelAttack)
importFrom(MASS,ginv)
importFrom(infotheo, mutinformation)
importFrom(mmap,struct)

export(gaussian,simulator.Simple1, dpa1)
exportPattern("^filter") 
exportPattern("^verify")
S3method(predict, gaussian)
S3method(gaussian, default)
S3method(predict, dpa1)
S3method(dpa1, default)

S3method(predict, filter.PCA)
S3method(filter.PCA, default)
S3method(predict, filter.NULL)
S3method(filter.NULL, default)
S3method(predict, filter.RegressionTreeFilter)
S3method(filter.RegressionTreeFilter, default)
S3method(predict, filter.mRMR)
S3method(filter.mRMR, default)
S3method(predict, filter.MAX)
S3method(filter.MAX, default)

S3method(plot, verify.loo)
S3method(verify.loo, default)
S3method(plot, verify.ho)
S3method(verify.ho, default)
S3method(plot, verify.cv)
S3method(verify.cv, default)